<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>TP3 PV 2024</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/css/estilos.css">
</head>
	
<body>
	<header id="header">
		<div class="encabezado">
			<h1>Programacion Visual 2024</h1>
			<div class="navegacion">
				<nav class="menu">
					<ul>
						<a href="index.html" class="opciones">Inicio</a>
						<a href="#caracteristicas" class="opciones">Caracteristicas de Java</a>
						<a href="#operadores" class="opciones">Operadores Aritméticos</a>
						<a href="#interfaces" class="opciones">Interfaces Java</a>
						<a href="form-cliente.html" class="opciones">Cliente</a>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	
	<main class="principal">
		<section id="caracteristicas" class="seccion">
			<aside class="informacion">
				<p class="parrafo-aside">Puedes conocer más de Java <a href="https://www.cursosaula21.com/que-es-java/">aquí</a></p>
				<img class="img" src="../static/images/java.jpg" alt="funcionamiento java"/>
			</aside>
			<h2 class="titulo">Características de Java</h2>
			<p class="parrafo">Java es una tecnología que incluye un lenguaje de programación y una plataforma de desarrollo</p>
			<ul class="lista">
				<li>Sencillo</li>
				<li>Orientado a objetos</li>
				<li>Distribuido</li>
				<li>Interpretado</li>
				<li>Robusto</li>
				<li>Seguro</li>
				<li>Independiente de las arquitecturas</li>
				<li>Portable</li>
				<li>Eficaz</li>
				<li>Multitarea</li>
				<li>Dinámico</li>
			</ul>
			
		</section>
		
		<section id="operadores" class="seccion"><hr>
			<h2 class="titulo">Operadores</h2>
			<h3 class="subtitulo">Operadores lógicos y relacionales</h3>
			<aside class="informacion">
				<p class="parrafo-aside">Hay que prestar atención a no confundir == con = porque implican distintas cosas.</p>
			</aside>
			<p class="parrafo"> En Java se disponen de los operadores relacionales habitualmente presentes en loslenguajes de
			programación, tales como “es igual”, “es distinto”, menor, menor o igual, mayor, mayor o igual.
			También posee los operadores lógicos and (y), or (o) y not (no). </p>
			
			<table class="tabla">
				<thead>
					<tr>
						<th scope="col">Operador</th>
						<th scope="col">Descripción</th>
					</tr>
				</thead>
				<tbody style="border: 1px solid gray">
					<tr>
						<th scope="row">==</th>
						<td>Es igual</td>
					</tr>
					<tr>
						<th scope="row">!=</th>
						<td>Es distinto</td>
					</tr>
					<tr>
						<th scope="row">&lt; , &lt;=, &gt;, &gt;=</th>
						<td>Menor, menor o igual, mayor, mayor o igual</td>
					</tr>
					<tr>
						<th scope="row">&amp;&amp;</th>
						<td>Operador and (y)</td>
					</tr>
					<tr>
						<th scope="row">||</th>
						<td>Operador or (o)</td>
					</tr>
					<tr>
						<th scope="row">!</th>
						<td>Operador not (no)</td>
					</tr>
				</tbody>
			</table>
			
		</section>
		<hr>
		<section id="interfaces" class="seccion">
			
			<h2 class="titulo">Interfaces</h2>
			<aside class="informacion">
				<p class="parrafo-aside">Una clase puede heredar sólo de otra única clase,
				pero puede implementar cuantos interfaces necesite</p>
			</aside>
			<p class="parrafo">Una interfaz es una colección de métodos abstractos y propiedades constantes. En las interfaces
			se especifica qué se debe hacer pero no su implementación. Serán las clases que implementen
			estas interfaces las que describen la lógica del comportamiento de los métodos.</p>
			<p class="parrafo">Si queremos definir un interfaz, se utiliza la palabra reservada <i>interface</i>, en lugar de class, y dentro declaramos (no
			implementamos), los métodos que queremos que tenga la interfaz. Para que una clase implemente los métodos de esta interfaz, se utiliza la palabra 
			reservada implements tras el nombre de la clase</p>
		</section>
	</main>
	
	
	<footer id="pie-pagina">
		<h4 class="titulo-footer">Datos personales</h4><br>
		<div class="datos-footer">
			<p class="parrafo-footer">Escrito por <b>Ficoseco Maria Celeste</b></p>
			<p class="parrafo-footer">celeste.ficoseco@gmail.com</p>
		</div>
	    
		<h4 class="titulo-footer">Redes Sociales</h4>
		<ul>
			<li><a class="redes" href="https://www.instagram.com/celesteficoseco/">Instragram</a></li>
			<li><a class="redes" href="https://www.facebook.com/celeste.ficoseco/">Facebook</a></li>
		</ul>
	</footer>
</body>
</html>
